set default=0
set timeout=0

menuentry "AlbeOS" {
    insmod video
    insmod vbe
    insmod gfxterm

    set gfxmode=1920x1080x32
    set gfxpayload=1920x1080x32

    terminal_output gfxterm

    multiboot /boot/kernel.elf
    boot
}